*.idea
*.autosave
*.mex*
*.exp
*.pdb
*.lib
*.ilk
*.o
*.aux
*.log
*.bbl
*.blg
*.bk
*.tmp
*.d
*.toc
*.class
*.snm
*.nav
*~
*ps
*.dot
uname.err
drake/util/drake_config.mat
drake/doc/derivations/elib.bib
drake/.python
drake/examples/Quadrotor/funLib.mat
drake/examples/Quadrotor/trajectoryLibrary.mat
fort.*
*.aux
.drake_unit_test_mutex.mat
.unitTestData.mat
debug.txt
stepping.mat
walking.mat
.viewer-prefs
.matlabroot
*.dSYM
data_t.java
drake/util/test/debugMexTest_mexdebug.mat
*_mexdebug.mat
*.class
tmp_w.mat
bin
drake.jar
*.out
pod-build
/BUILD
/build
cmake-build-*
mlint_output.html
.#*
VALGRIND_OUTPUT.xml
*.ppms.gz
glider_trajs.mat
results_testRunning.mat
drake/doc/DoxygenCPP
*.bak
Pendulum.pmd
drake/doc/_build
bazel-*
xcode
.cproject
.project
.settings
/drake/examples/human_model/models/temp.urdf
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_chest.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_head.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_ankle_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_ankle_2.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_elbow_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_foot.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_forearm.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_hand.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_hip_pitch_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_hip_roll_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_hip_yaw_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_lower_leg.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_shoulder_pitch_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_shoulder_roll_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_shoulder_yaw_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_upper_arm.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_upper_leg.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_l_wrist_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_lap_belt_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_lap_belt_2.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_neck_roll_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_neck_yaw_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_ankle_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_ankle_2.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_elbow_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_foot.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_forearm.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_hand.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_hip_pitch_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_hip_roll_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_hip_yaw_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_lower_leg.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_shoulder_pitch_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_shoulder_roll_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_shoulder_yaw_link.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_upper_arm.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_upper_leg.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_r_wrist_1.dae
/drake/examples/human_model/models/meshes/collision/dae/icub_simple_collision_waist.dae
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_chest.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_chest.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_head.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_head.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_ankle_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_ankle_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_ankle_2.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_ankle_2.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_elbow_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_elbow_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_foot.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_foot.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_forearm.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_forearm.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hand.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hand.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hip_pitch_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hip_pitch_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hip_roll_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hip_roll_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hip_yaw_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_hip_yaw_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_lower_leg.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_lower_leg.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_shoulder_pitch_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_shoulder_pitch_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_shoulder_roll_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_shoulder_roll_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_shoulder_yaw_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_shoulder_yaw_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_upper_arm.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_upper_arm.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_upper_leg.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_upper_leg.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_wrist_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_l_wrist_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_lap_belt_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_lap_belt_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_lap_belt_2.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_lap_belt_2.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_neck_roll_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_neck_roll_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_neck_yaw_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_neck_yaw_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_ankle_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_ankle_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_ankle_2.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_ankle_2.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_elbow_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_elbow_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_foot.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_foot.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_forearm.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_forearm.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hand.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hand.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hip_pitch_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hip_pitch_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hip_roll_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hip_roll_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hip_yaw_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_hip_yaw_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_lower_leg.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_lower_leg.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_shoulder_pitch_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_shoulder_pitch_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_shoulder_roll_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_shoulder_roll_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_shoulder_yaw_link.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_shoulder_yaw_link.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_upper_arm.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_upper_arm.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_upper_leg.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_upper_leg.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_wrist_1.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_r_wrist_1.obj
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_waist.mtl
/drake/examples/human_model/models/meshes/collision/obj/icub_simple_collision_waist.obj
/drake/examples/human_model/models/meshes/visual/dae/icub_chest.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_head.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_ankle_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_ankle_2.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_elbow_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_foot.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_forearm.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_hand.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_hip_pitch_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_hip_roll_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_hip_yaw_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_lower_leg.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_shoulder_pitch_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_shoulder_roll_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_shoulder_yaw_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_upper_arm.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_upper_leg.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_l_wrist_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_lap_belt_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_lap_belt_2.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_neck_roll_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_neck_yaw_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_ankle_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_ankle_2.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_elbow_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_foot.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_forearm.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_hand.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_hip_pitch_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_hip_roll_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_hip_yaw_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_lower_leg.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_shoulder_pitch_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_shoulder_roll_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_shoulder_yaw_link.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_upper_arm.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_upper_leg.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_r_wrist_1.dae
/drake/examples/human_model/models/meshes/visual/dae/icub_waist.dae
/drake/examples/human_model/models/meshes/visual/obj/icub_chest.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_chest.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_head.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_head.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_ankle_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_ankle_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_ankle_2.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_ankle_2.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_elbow_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_elbow_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_foot.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_foot.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_forearm.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_forearm.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hand.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hand.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hip_pitch_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hip_pitch_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hip_roll_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hip_roll_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hip_yaw_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_hip_yaw_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_lower_leg.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_lower_leg.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_shoulder_pitch_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_shoulder_pitch_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_shoulder_roll_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_shoulder_roll_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_shoulder_yaw_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_shoulder_yaw_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_upper_arm.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_upper_arm.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_upper_leg.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_upper_leg.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_l_wrist_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_l_wrist_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_lap_belt_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_lap_belt_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_lap_belt_2.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_lap_belt_2.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_neck_roll_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_neck_roll_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_neck_yaw_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_neck_yaw_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_ankle_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_ankle_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_ankle_2.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_ankle_2.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_elbow_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_elbow_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_foot.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_foot.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_forearm.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_forearm.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hand.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hand.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hip_pitch_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hip_pitch_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hip_roll_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hip_roll_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hip_yaw_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_hip_yaw_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_lower_leg.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_lower_leg.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_shoulder_pitch_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_shoulder_pitch_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_shoulder_roll_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_shoulder_roll_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_shoulder_yaw_link.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_shoulder_yaw_link.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_upper_arm.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_upper_arm.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_upper_leg.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_upper_leg.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_r_wrist_1.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_r_wrist_1.obj
/drake/examples/human_model/models/meshes/visual/obj/icub_waist.mtl
/drake/examples/human_model/models/meshes/visual/obj/icub_waist.obj
/drake/examples/human_model/models/icub/icub_with_transmission.urdf
/drake/examples/human_model/icub_description/
